<form autocomplete="chrome-off" [formGroup]="formEditUser" (ngSubmit)="save()">
    <h1 mat-dialog-title>Cập nhật người dùng</h1>
    <mat-dialog-content style="width:800px;height:350px;">
        <mat-tab-group>
            <mat-tab [label]="'Thông tin người dùng'">
                <br />
                <div class="row-fluid">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput name="Name" formControlName='name' [placeholder]="'Họ và tên'"
                                [(ngModel)]="user.fullName" required minlength="3" maxlength="32" tabindex="1" />
                            <mat-error *ngIf="name.errors?.containSpecial">
                                Tên chứa kí tự đặc biệt
                            </mat-error>
                            <mat-error *ngIf="name.errors?.minlength || name.errors?.maxlength">
                                Độ dài tên từ 3 đến 32 kí tự
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName='email' [placeholder]="'Địa chỉ Email'"
                                [(ngModel)]="user.email" type="email" required maxlength="256" readonly
                                onfocus="this.removeAttribute('readonly');"
                                pattern="^\w+([\.\-\+]?\w+)*@\w+([\-]?\w+)+([\.-]?\w+){1,2}$" tabindex="3" />
                            <mat-error *ngIf="email.errors?.pattern">
                                Email sai định dạng!
                            </mat-error>
                            <mat-error *ngIf="email.errors?.minlength || email.errors?.maxlength">
                                Độ dài tối đa là 256
                            </mat-error>
                            <mat-error *ngIf="email.errors?.emailExists">
                                Email đã tồn tại
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName='userName' placeholder='Tên tài khoản'
                                [(ngModel)]="user.userName" required minlength="2" maxlength="32" tabindex="5" />
                            <mat-error *ngIf="userName.errors?.pattern">
                                Tên tài khoản viết liền ko dấu, không chứa kí tự đặc biệt
                            </mat-error>
                            <mat-error *ngIf="userName.errors?.minlength || userName.errors?.maxlength">
                                Độ dài tên tài khoản từ 2 đến 32 kí tự
                            </mat-error>
                            <mat-error *ngIf="userName.errors?.usernameExists">
                                Tên tài khoản đã tồn tại
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class='col-md-6'>
                        <mat-form-field>
                            <input  
                              matInput 
                              [matDatepicker]="picker" 
                              formControlName="dob" 
                              required 
                              placeholder="Ngày sinh" 
                              name="dob"
                              >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker startView="year"></mat-datepicker>
                          </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="phone" [placeholder]="'Số điện thoại'"
                                [(ngModel)]="user.phoneNumber" required pattern='^((\\+91-?)|0)?[0-9]{10}$'
                                tabindex="4" />
                            <mat-error *ngIf="phone.errors?.pattern">
                                Số điện thoại sai định dạng!
                            </mat-error>
                            <mat-error *ngIf="phone.errors?.phoneExists">
                                Số điện thoại đã có người sử dụng
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select formControlName='typeUser' required placeholder="Loại người dùng"
                                [(ngModel)]='user.typeAccount' tabindex="6">
                                <mat-option [value]='0'>Phụ huynh</mat-option>
                                <mat-option [value]='1'>Giám sát xe</mat-option>
                                <mat-option [value]='2'>Quản trị</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <div class="checkbox-wrapper">
                            <mat-checkbox name="IsActive" [(ngModel)]="isActive"
                                [ngModelOptions]="{standalone: true}" tabindex="9">
                                Kích hoạt
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab [label]="'Phân quyền'">
                <br />
                <div class="row-fluid">
                    <ng-template ngFor let-role [ngForOf]="roles">
                        <div class="col-sm-6">
                            <div class="checkbox-wrapper">
                                <mat-checkbox required [checked]="isRoleChecked(role.name)"
                                    (change)="onRoleChange(role, $event)">
                                    {{ role.displayName }}
                                </mat-checkbox>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)" tabindex="10">
            Hủy
            <i class="fa fa-times app-icon" aria-hidden="true"></i>
        </button>
        <button mat-flat-button type="submit" flex="15" color="primary" [disabled]="!formEditUser.valid || saving"
            tabindex="11">
            Lưu
            <i class="fa fa-floppy-o app-icon" aria-hidden="true"></i>

        </button>
    </div>
</form>