.container-fluid {
    height: 100%;
}
.backlog-header {
    display: flex;
    flex-direction: column;
    padding: 17px 0px;
    border-bottom: 1px solid #b3b0b0;
}

.backlog-header h3 {
    width: 100%;
    font-weight: 100;
    margin: 0;
}
.backlog-header>div {
    display: flex;
    margin: 13px 0 0 0;
}
.bl-header-search input {
    border-radius: 4px;
    border: 1px solid #b3b0b0;
    padding-left: 8px;
    height: 26px;
}
.bl-header-filter {
    width: 100%;
    display: flex;
}
.bl-header-filter div {
    color: #337cb9;
    width: 114px;
    text-align: center;
    margin-left: 13px;
    border: 1px solid;
    padding-top: 2px;
    cursor: pointer;
}
.backlog-content {
    width: 100%;
    height: 80%;
    display: flex;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* backlog-left */ 
.backlog-left {
    width: 20%;
    height: 100%;
    border: 1px solid #b3b0b0;
    border-top: 0;
    padding-left: 12px;
}
.epic-card {
    display: flex;
    align-items: center;
    height:42px;
}
.epic-title {
    font-size: 18px;
}
.epic-created {
    margin: 4px 0 0 41px;
    font-size: 13px;
}
.backlog-mid {
    width: 80%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

/* epic list */

.epic-list {
    overflow: auto;
    height: 90%;
    margin-left: -12px;
}
.epic-list>div {
    font-size: 14px;
    height: auto;
    min-height: 32px;
    border: 1px solid #b3b0b0;
    border-left: none;
    border-right: none;
    font-weight: 600;
    padding: 6px 0 0 18px;
    border-bottom: none;
    cursor: pointer;
}
.epic-expand {
    font-weight: normal;
    margin-bottom: 12px;
    font-size: 13px;
}
.epic-summary {
    padding: 5px 0px;
}
.epic-group {
    display: flex;
    padding: 0px 0px 0px 3px;
    margin-top: 6px;
}
.epic-item {
    width: 69%;
}
.epic-badge {
    background: rgba(0,0,0,0.2);
    border-radius: 2em;
    color: rgba(51,51,51,0.8);
    display: inline-block;
    min-width: 1em;
    min-height: 1em;
    text-align: center;
    padding: 3px 5px 2px 5px;
    font-size: 11px;
}
span.epic-summary {
    margin-left: 9px;
}
span.btn-down {
    float: left;
    margin-right: 2px;
    cursor: pointer;
    width: 19px;
    text-align: center;
    margin-left: -18px;
}
.expand-none{
    display: none;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* backlog-mid */
.backlog-sprint {
    height: auto;
}
.spint-item {
    height: auto;
    border: 1px solid #b3b3b0;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #b3b3b0;
}
.sp-item-header {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 19px;
}

.item-header-left {
    display: flex;
    align-items: center;
    font-weight: 800;
}
.sp-it-name input{
    padding: 0 8px; 
    border: 1px solid #6c6cff;
    height: 25px;
    display: none;
}
.sp-it-name span:hover{
    cursor: pointer;
}
.sp-it-count {
    color: gray;
    margin-left: 7px;
    font-weight: 100;
}
.item-header-right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.sp-it-badge {
    margin-right: 14px;
}
    .sp-it-badge>span {
        background: rgba(0,0,0,0.2);
        border-radius: 2em;
        color: rgba(51,51,51,0.8);
        display: inline-block;
        min-width: 1em;
        min-height: 1em;
        text-align: center;
        padding: 3px 5px 2px 5px;
        font-size: 11px;
        margin-right: 7px;
        color: white;
    }
        .sp-it-badge .todo {
            background-color: #f330bb;
        }
        .sp-it-badge .doing {
            background-color: #ea1e1e;
        }
        .sp-it-badge .done {
            background-color: green;
        }

.sp-it-state {
    margin-right: 10px;
    font-weight: 600;
}
.sp-item-option>i {
    width: 25px;
    height: 20px;
    align-items: center;
    border: 1px solid gray;
    background-color: #e0dede;
    padding: 2px 11px;
    cursor: pointer;
    border-radius: 5px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
/* backlog-mid-list-issues */
.backlog-issues {
    padding: 17px 19px;
}
.bl-header {
    display: flex;
    align-items: center;
}
.bl-hd-left {
    display: flex;
    align-items: center;
}
span.btn-down i {
    width: 100%;
    height: 100%;
}
.bl-hd-right {
    flex-grow: 1;
}
.bl-hd-left>span {
    font-weight: 600;
    font-size: 14px;
}
.bl-hd-right button {
    float: right;
    box-sizing: border-box;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-variant: normal;
    font-weight: normal;
    height: 2.14285714em;
    line-height: 1.42857143;
    margin: 0;
    padding: 4px 10px;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
}
.bl-issue-list {
    margin-top: 18px;
    border-bottom: 1px solid #b3b0b0;
}
.issues-list {
    margin-bottom: 28px;
    border-bottom: 1px solid #b3b0b0;
}
.bl-issue-item {
    display: flex;
    border: 1px solid #b3b0b0;
    height: 45px;
    border-bottom: none;
}
.is-it-left {
    display: flex;
    align-items: center;
    padding-left: 11px;
}
span.is-type {
    margin-right: 8px;
    color: #1e63ab;
}
span.is-priority {
    margin-right: 8px;
    color: #e83d3d;
    height: 25px;
}
.is-ic-priority{
    width: 15px;
}
span.is-key {
    margin-right: 8px;
}
.is-it-right {
    flex-grow: 1;
    position: relative;
}
span.is-epic {
    position: absolute;
    right: 45px;
    top: 12px;
    color: white;
    background-color: #f15c75;
    border-radius: 5px;
    padding: 0 9px;
    font-size: 13px;
}
span.is-point {
    float: right;
    background: rgba(0,0,0,0.2);
    border-radius: 2em;
    color: rgba(51,51,51,0.8);
    display: inline-block;
    min-width: 1em;
    min-height: 1em;
    text-align: center;
    padding: 3px 5px 2px 5px;
    font-size: 11px;
    margin-right: 12px;
    color: white;
    margin-top: 11px;
}
p.is-summary {
    margin: 0;
}
.sp-item-expand {
    padding: 0 22px;
    margin-top: -5px;
}
.issue-time {
    color: gray;
    margin-bottom: 18px;
}
.it-sp-no-is {
    border: 2px dashed #ccc;
    margin-bottom: 24px;
}
.it-sp-no-is p {
    margin: 7px 0px;
    text-align: center;
    font-size: 12px;
    color: #928f8f;
}
.epic-item-option {
    float: right;
    margin-right: 9px;
}
.epic-item-option i {
    width: 20px;
    text-align: center;
}
