.row {
    height: 84vh
}
section.col-md-2 {
    padding: 0;
    height: 100%;
    border: 1px solid #b3b0b0;
    overflow: auto;
}
.sidebar-top {
    height: 68px;
}
section.col-md-10 {
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #b3b0b0;
    border-left: 0;
    height: 100%;
    overflow: auto;
}

section.col-md-10 {
    background-color: #ffffff;
    border: 1px solid #b3b0b0;
    border-left: 0;
}
ul.nav-project {
    list-style: none;
    padding: 0;
}
ul.nav-project li {
    height: 33px;
    padding: 5px;
    display: flex;
    align-items: center;
}
ul.nav-project li a {
    text-decoration: none;
    margin-left: 14px;
    margin-top: 4px;
}
.sidebar-body {
    margin-top: 15px;
}
.sb-project-key {
    font-size: 15px;
    padding: 2px 10px 0 11px;
}
.sb-project-name {
    font-size: 20px;
    color: #3b73af;
    padding: 10px 10px 5px 10px;
}
.nav-project li:hover{
    background-color: #dcdcd5;
    cursor: pointer;
}