<form autocomplete="off" #editCategoryForm="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>{{ "EditCategory" | localize }}</h1>
    
    <mat-dialog-content style="width:600px;height:300px;">
          <div class="row-fluid">
            <div class="col-md-12">
              <mat-form-field>
                <input
                  matInput
                  name="Key"
                  [placeholder]="'Mã loại dự án'"
                  [(ngModel)]="projectCate.key"
                  required
                  minlength="2"
                  maxlength="32"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  name="Name"
                  [placeholder]="'Tên loại dự án'"
                  [(ngModel)]="projectCate.name"
                  required
                  minlength="2"
                  maxlength="32"
                />
              </mat-form-field>
              <mat-form-field>
                <textarea
                  matInput
                  name="Description"
                  [placeholder]="'Mô tả'"
                  [(ngModel)]="projectCate.description"
                ></textarea>
              </mat-form-field>
            </div>
          </div>
    </mat-dialog-content>

    <div mat-dialog-actions align="end">
      <button mat-button type="button" [disabled]="saving" (click)="close(false)">
        {{ "Cancel" | localize }}
      </button>
      <button
        mat-flat-button
        type="submit"
        flex="15"
        color="primary"
        [disabled]="!editCategoryForm.form.valid || saving"
      >
        {{ "Save" | localize }}
      </button>
    </div>
  </form>
  