/* topbar component */
ul.nav.navbar-nav.navbar-right {
    float: left !important;
    height: 70px;
}   
.span-menu-c1 {
    position: absolute;
    top: 11px;
    left: 38px;
}
a.ng-star-inserted {
    width: 100%;
    margin-left: 0 !important;
}
.menu-top{
    width: 126px;
    position: relative;
}
.user-info {
    z-index: 47;
    display: flex;
    position: fixed;
    top: 10px;
    right: 0px;
    color: white;
    width: 260px;
    justify-content: center;
    align-items: center;
}

.info-container {
    width: 198px;
}

ul.ml-menu {
    list-style: none;
    padding: 0;
    width: 149px;
    position: absolute;
    top: 70px;
    left: -5px;
    background: #f44336;
    display: none;
}

.menu-top-child a {
    display: flex;
    height: 34px;
    width: 149px;
    border-bottom: 1px solid;
    align-items: center;
    color: white;
    padding-left: 12px;
    text-decoration: none;
}
.menu-top-child span {
    margin-left: 12px;
}