<form autocomplete="off" #createEpicForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "Tạo mới dự án con" | localize }}</h1>
  <mat-dialog-content style="width:400px;height:300px;">
        <div class="row-fluid">
          <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                name="Key"
                placeholder="Mã dự án con"
                [(ngModel)]="epic.key"
                required
                minlength="2"
                maxlength="32"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                name="Name"
                [placeholder]="'Tên dự án con'"
                [(ngModel)]="epic.name"
                required
                minlength="2"
                maxlength="32"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                name="Summary"
                [placeholder]="'Tổng quan'"
                [(ngModel)]="epic.summary"
                required
                minlength="2"
                maxlength="32"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Ngày kết thúc</mat-label>
              <input  
              required matInput 
              [matDatepicker]="picker" 
              [ngModelOptions]="{standalone: true}" 
              [(ngModel)]="dateEdit"
               >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker  required #picker ngDefaultControl></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
  </mat-dialog-content>

  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      *ngIf="!editMode"
      [disabled]="!createEpicForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
    <button
      mat-flat-button
      flex="15"
      color="primary"
      *ngIf="editMode"
      [disabled]="!createEpicForm.form.valid || saving"
      (click)="saveFromEdit()"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
