<form autocomplete="off" #createForm="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>Thêm mới học sinh</h1>
    <mat-dialog-content style="width:650px;height:450px;">
      <div class="row-fluid">
        <div class="col-md-12">
          <mat-form-field>
            <input
              matInput
              name="studentName"
              placeholder="Họ và tên"
              [(ngModel)]="student.name"
              required
              minlength="2"
              maxlength="64"
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Chọn xe</mat-label>
            <mat-select required [(ngModel)]="student.busId" name='bus'>
              <mat-option *ngFor="let bus of buses" [value]="bus.id">
                {{bus.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Chọn phụ huynh</mat-label>
            <mat-select required [(ngModel)]="student.parentId" name='parent'>
              <mat-option *ngFor="let parent of parents" [value]="parent.id">
                {{parent.fullName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Chọn điểm dừng</mat-label>
            <mat-select required [(ngModel)]="student.stopId" name='stop'>
              <mat-option *ngFor="let stop of stops" [value]="stop.id">
                {{stop.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input required placeholder="Ngày sinh" name='dob' matInput
                name="Dob" [(ngModel)]="student.dob" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              name="class"
              placeholder='Lớp'
              [(ngModel)]="student.classOfStudent"
              required
              maxlength="20"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              name="teacher"
              placeholder='Giáo viên chủ nhiệm'
              [(ngModel)]="student.teacherName"
              required
              maxlength="255"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              name="phoneTeacher"
              placeholder='Số điện thoại GVCN'
              [(ngModel)]="student.phoneTeacher"
              required
              maxlength="20"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              name="address"
              placeholder='Địa chỉ'
              [(ngModel)]="student.address"
              maxlength="1024"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              name="email"
              placeholder='Email'
              [(ngModel)]="student.email"
              type="email"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
              required
              maxlength="256"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              name="phone"
              placeholder='Số điện thoại'
              [(ngModel)]="student.phoneNumber"
              type="text"
              required
              maxlength="20"
            />
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
      <button mat-button type="button" [disabled]="saving" (click)="close(false)">
            Hủy
      </button>
      <button
        mat-flat-button
        type="submit"
        flex="15"
        color="primary"
        [disabled]="!createForm.form.valid || saving"
      >
        Lưu
      </button>
    </div>
  </form>
  